<div class="container about-content">
    <div><h1>About Bibleverse</h1></div>
    <div>
        <span>Explore the Bible in a fresh way — timeless truth from God's Word for every corner of creation — even across the multiverse.</span>
    </div>
    <div>
        <span>You can explore the Bible here, learn and spread God's Word.</span>
    </div>
    <div>
        <span>This is a work in progress website and may have errors. Please report it to me if you see one.</span>
    </div>
    <div class="pt-5"><h1>Credits</h1></div>
    <div>
        <span>Thank you to <a href="https://bible.helloao.org/">AO Lab</a> for the free Bible API.</span>
    </div>
    <div>
        <span>This website will not work without their API and please continue to support them!</span>
    </div>
</div>
