footer {
    padding: 10px;
    background: #02534d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 100px;
}

.back-top {
    font-size: 30px;
    cursor: pointer;
}