.verse-number {
    font-weight: bold;
    margin-right: 4px;
    font-size: medium;
}

.verse-content {
    font-size: 20px;
    font-style: normal;
}

.verse-heading {
    font-weight: bold;
    font-size: 28px;
}