<hr class="flex-grow-1" />
<div class="mt-3">
    @for (verse of chapterData(); track verse.number) {
        @if (verse.type === 'verse') {
            <div class="mb-3">
                <sup class="verse-number">{{ verse.number }}</sup>
                 <span class="verse-content">
                    @for (part of verse.content; track $index) {
                        @if (part.text) {
                            {{ part.text }}
                        } @else if (part.lineBreak || part.type === 'line_break') {
                            <br />
                        } @else if (part.noteId || part.noteId >= 0) {
                            &nbsp;
                        } @else {
                            {{ part }}
                        }
                    }
                 </span>
            </div>
        } @else {
            <div class="mt-3 mb-3">
                <span class="verse-heading"> 
                    @for (part of verse.content; track $index) {
                        @if (part.text) {
                            {{ part.text }}
                        } @else if (part.lineBreak || part.type === 'line_break') {
                            <br />
                        } @else if (part.noteId || part.noteId >= 0) {
                            &nbsp;
                        } @else {
                            {{ part }}
                        }
                    }
                </span>
            </div>
        }
    }
</div>
<hr class="flex-grow-1" />