<div class="container home-content" (click)="toggleExpand()">
  <div class="search-content">
    <div class="expand-header">
      <h5 class="expand-title">
        Bible Search here!
        <span class="expand-icon">{{ isExpanded() ? '▲' : '▼' }}</span>
      </h5>
    </div>
    
    @if (isExpanded()) {
      <form [formGroup]="bibleForm" class="expand-content" (click)="$event.stopPropagation()">
        <div class="row">
          <div class="col-6">
            <mat-form-field class="custom-form-field w-100">
              <mat-label>Translations</mat-label>
              <input type="text" 
                matInput formControlName="translation" 
                [matAutocomplete]="autoTranslation"
                placeholder="Select a translation"
              >
              <mat-autocomplete #autoTranslation="matAutocomplete" 
                [displayWith]="displayTranslation"
                (optionSelected)="onTranslationChange($event.option.value)" 
                class="translation-autocomplete-panel"
              >
                @for (tr of filteredTranslationChoice(); track tr) {
                  <mat-option [value]="tr.id">{{tr.name}}</mat-option>
                }
                @if (filteredTranslationChoice().length === 0) {
                  <mat-option disabled>
                    No results
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="custom-form-field w-100">
              <mat-label>Books</mat-label>
              <input type="text" 
                matInput formControlName="book" 
                [matAutocomplete]="autoBook"
                placeholder="Select a book"
              >
              <mat-autocomplete #autoBook="matAutocomplete" 
                [displayWith]="displayBook"
                (optionSelected)="onBookChange($event.option.value)" 
                class="translation-autocomplete-panel"
              >
                @for (bk of filteredBookChoice(); track bk) {
                  <mat-option [value]="bk.id">{{bk.name}}</mat-option>
                }
                @if (filteredBookChoice().length === 0) {
                  <mat-option disabled>
                    No results
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class="chapter-container">
          @if (numberOfChapters()) {
            @for (ch of numberOfChapters(); track $index) {
              <button class="chapter-btn" 
                      value="{{ ch }}" 
                      (click)="onClickChapter($event)"
                      [ngClass]="{ 'active-chapter': selectedChapter() === ch.toString()}"
              >
                {{ ch }}
              </button>
            }
          }
        </div>
      </form>
    }
  </div>
  
  @if(showSearchContent()) {
    <div class="search-result my-4" (click)="$event.stopPropagation()">
      <app-search-content [chapterData]="chapterData()" [searchedBook]="selectedBookName" [chosenChapter]="selectedChapter()"></app-search-content>
    </div>
  }
</div>